#btndeletecategory{
    border: none;
    color: blue;
}
.active{
    text-decoration:underline;   
}

.input-icons span { 
    position: absolute; 
    margin-top: 10px;
    margin-left: 10px;
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 

.fl-table {
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

