body{
    background-color: lightblue; 
}
#btndeletecategory{
    border: none;
    color: blue;
}
.active{
    text-decoration:underline;   
}

.input-icons span { 
    position: absolute; 
    margin-top: 10px;
    margin-left: 10px;
} 

#search{
    padding-left: 40px;
    border-radius: 30px;
}
.autoSuggestion{
    border-radius: 30px;
}
.fc-license-message{
    display: none;
}

.fc-button-group{
    background-color: aliceblue;
}
  
.fc-theme-standard {
    background-color: aliceblue;
}
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 

/* group list */
#show {
    display: none;
}
.list-group-item:hover #show {
    display: inline;
}
.list-group-item:hover {
    background-color: rgb(238, 238, 238);
    height: 50px;
}

  /* make the hove on menu */
  span:hover{
    color: orange;
}
/* end */

/* display the dropdown menu when hove on menu */
.dropdown-menu a:hover {background-color: orange;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* end */

/* button create */
.button-create{
    border-radius: 20px;
    text-transform: uppercase;
}

.startTime{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(139, 135, 135);
}
.card-event {
    border-radius: 20px;
}

#deletes {
    display: none;
}

.event:hover #deletes  {
    display: inline;
}
